<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="name">
	<f:translate key="tx_extprofil_domain_model_benutzerprofil.name" />
</label><br />
	<f:form.textfield property="name" /><br />
<label for="firstname">
	<f:translate key="tx_extprofil_domain_model_benutzerprofil.firstname" />
</label><br />
	<f:form.textfield property="firstname" /><br />
<label for="email">
	<f:translate key="tx_extprofil_domain_model_benutzerprofil.email" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield type="email" property="email" /><br />
<label for="profilImage">
	<f:translate key="tx_extprofil_domain_model_benutzerprofil.profil_image" />
</label><br />
	<span>File upload is not implemented!</span><br  /><br />
<label for="password">
	<f:translate key="tx_extprofil_domain_model_benutzerprofil.password" /> <span class="required">(required)</span>
</label><br />
	<f:form.password property="password" /><br />
<label for="passwordCheck">
	<f:translate key="tx_extprofil_domain_model_benutzerprofil.password_check" /> <span class="required">(required)</span>
</label><br />
	<f:form.password property="passwordCheck" /><br />
<label for="birthDate">
	<f:translate key="tx_extprofil_domain_model_benutzerprofil.birth_date" />
</label><br />
	<f:form.textfield property="birthDate" /><br />
</html>