<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
    <h1>Benutzerprofile</h1>

    <f:link.action action="export">Liste als CSV exportieren</f:link.action>
    <p></p>
    <f:flashMessages />

    <table  class="tx_extprofil" >
        <tr>
            <th><f:translate key="tx_extprofil_domain_model_benutzerprofil.name" /></th>
            <th><f:translate key="tx_extprofil_domain_model_benutzerprofil.firstname" /></th>
            <th><f:translate key="tx_extprofil_domain_model_benutzerprofil.email" /></th>
            <th><f:translate key="tx_extprofil_domain_model_benutzerprofil.profil_image" /></th>
            <th><f:translate key="tx_extprofil_domain_model_benutzerprofil.birth_date" /></th>
        </tr>

        <f:for each="{benutzerprofils}" as="benutzerprofil">
            <tr>
                <td><f:link.action action="show" arguments="{benutzerprofil : benutzerprofil}"> {benutzerprofil.name}</f:link.action></td>
                <td><f:link.action action="show" arguments="{benutzerprofil : benutzerprofil}"> {benutzerprofil.firstname}</f:link.action></td>
                <td><f:link.action action="show" arguments="{benutzerprofil : benutzerprofil}"> {benutzerprofil.email}</f:link.action></td>
                <td><f:link.action action="show" arguments="{benutzerprofil : benutzerprofil}"> {benutzerprofil.profilImage.originalResource.name}</f:link.action></td>
                <td><f:link.action action="show" arguments="{benutzerprofil : benutzerprofil}"> {benutzerprofil.birthDate}</f:link.action></td>
            </tr>
            </f:for>
    </table>

</f:section>
</html>
