<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-ext-profil" >
	<tr>
		<td>
			<f:translate key="tx_extprofil_domain_model_benutzerprofil.name" />
		</td>
		<td>
		{benutzerprofil.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_extprofil_domain_model_benutzerprofil.firstname" />
		</td>
		<td>
		{benutzerprofil.firstname}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_extprofil_domain_model_benutzerprofil.email" />
		</td>
		<td>
		{benutzerprofil.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_extprofil_domain_model_benutzerprofil.profil_image" />
		</td>
		<td>
            {benutzerprofil.profilImage.originalResource.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_extprofil_domain_model_benutzerprofil.birth_date" />
		</td>
		<td>
		{benutzerprofil.birthDate}
		</td>
	</tr>
</table>
</html>
