<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">

    <f:flashMessages />

    <f:form action="login"  enctype="multipart/form-data"  name="loginBenutzerprofil">
        <label for="email">
            <f:translate key="tx_extprofil_domain_model_benutzerprofil.email" /> <span class="required">*</span>
        </label><br />
        <f:form.textfield type="email" property="email" /><br />
        <label for="password">
            <f:translate key="tx_extprofil_domain_model_benutzerprofil.password" /> <span class="required">*</span>
        </label><br />
        <f:form.password property="password" /><br /><br />
        <f:form.submit value="Login" />
    </f:form><br />
    <f:link.action action="forgot">Passwort vergessen</f:link.action><br />
    <f:link.action action="new">New Benutzerprofil</f:link.action><br />
</f:section>
</html>
